menuconfig STRIM_METERS
    bool "Enable energy meters polling by RS485"
    default n

if STRIM_METERS
    module = STRIM_METERS
    module-str = meters
    source "subsys/logging/Kconfig.template.log_config"

    config STRIM_METERS_BUS485_ENABLE
        bool "Enable bus485 meters type"
        default n
        depends on STRIM_BUS485

    config STRIM_METERS_INIT_PRIORITY
        int "Init priority"
        default 85
    
    config STRIM_METERS_MAIN_STACK_SIZE
        int "Main thread stack size"
        default 4096
    
    config STRIM_METERS_MAIN_THREAD_PRIORITY
        int "Main thread priority"
        default 8

    config STRIM_METERS_BUS485_RESPONSE_TIMEOUT
        int "bus485 response timeout ms"
        default 3000
    
    config STRIM_METERS_ITEMS_MAX_COUNT
        int "Meters max count"
        default 5
        help
            Should be equal to channels count plus main meter.
    
    config STRIM_METERS_VALID_DATA_TIMEOUT
        int "Value of window time for control valid data from meter in ms"
        default 5000
        
    
    config STRIM_METERS_SHELL
        bool "Enable meters shell"
        default n
        depends on SHELL
endif